@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* Neutral */
    --neutral-900: #12131A;
    --neutral-800: #21222C;
    --neutral-700: #2A2B37;
    --neutral-600: #404254;
    --neutral-200: #E4E4EF;
    --neutral-100: #F2F2F7;
    --neutral-0: #FFFFFF;

    /* Purple */
    --purple-400: #A034FA;
    --purple-500: #C27CF8;

    /* Yellow */
    --yellow-500: #FF9F00;

    /* Orange */
    --orange-500: #FE8159;
    --orange-800: #DA3701;

    /* Colors Category*/

    /* Dark Theme*/
    --bg-primary-color-dark: var(--neutral-900);
    --bg-secondary-color-dark:var(--neutral-700);

    --title-primary-color-dark: var(--neutral-100);
    
    --text-primary-color-dark: var(--neutral-200);

    /* Light Theme */
    --bg-primary-color-light: var(--neutral-0);
    --bg-secondary-color-light: var(--neutral-200);

    --text-primary-color-light: var(--neutral-700);

    /* Typography */
    --text-preset-1: 700 64px "DM Sans", sans-serif;
    --text-preset-1-letter-spacing: -1px;
    --text-preset-1-mobile: 700 40px "DM Sans", sans-serif;
    --text-preset-1-mobile-letter-spacing: -1px;
    --text-preset-2: 600 24px/1.3 "DM Sans", sans-serif;
    --text-preset-2-letter-spacing: -1px;
    --text-preset-3: 400 20px/1.4 "DM Sans", sans-serif;
    --text-preset-3-letter-spacing: -0.6px;
    --text-preset-4: 400 16px/1.3 "DM Sans", sans-serif;
    --text-preset-4-letter-spacing: -0.6px;

    /* Spacing */
    --spacing-0: 0;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    /* Radius */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:var(--bg-primary-color-dark) ;
    margin: 0;
}

.main-card {
    /* max-width: 375px; */
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;

    padding: var(--spacing-200);
}

.logo-img {
    max-width: 185px;
    width: 100%;
    max-height: 30px;
    height: 100%;
}

.header-btn {
    max-width: 32px;
    width: 100%;
    max-height: 32px;

    background: var(--bg-secondary-color-dark);
    border: none;
    border-radius: var(--radius-6);

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-img {
    max-width: 17px;
    max-height: 17px;
}

h1 {
    font: var(--text-preset-1-mobile);
    letter-spacing: var(--text-preset-1-letter-spacing);
    color: var(--title-primary-color-dark);

    text-align: center;
    margin: var(--spacing-500) 0;
}

.text-area {
    padding: 0 var(--spacing-200);
    margin-bottom: var(--spacing-500);
}

#text-area-element {
    width: 100%;
    height: 200px;

    border-radius: var(--radius-12);
    background: var(--neutral-700);
    font: var(--text-preset-3);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: var(--text-primary-color-dark);

    margin-bottom: var(--spacing-200);
}



.option-sec {
    max-width: 343px;
    max-height: 87px;

    font: var(--text-preset-4);
    letter-spacing: var(--text-preset-4-letter-spacing);
    color: var(--text-primary-color-dark);
}

.option-sec p {
    display: flex;
    align-items: center;
    margin: 0;
}

.option-sec p:nth-child(2) {
    margin: 12px 0;
    height: 30px; /*Adjust the height size to limit text*/
}

.option-sec p input[type="checkbox"] {
    appearance: none;

    width:16px;
    height: 16px;

    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-4);

    margin: 0 10px 0 0 ;
}

.option-sec p input[type="checkbox"]:focus-visible {
    background: var(--neutral-0);
    border: 1px solid var(--purple-500);
}

.option-sec p input[type="checkbox"]:checked {
    background: var(--purple-500);
    border: none;

    background-image: url("./assets/images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.character-limit-text {
    margin-left: 20px;
    padding: 4px 12px;

    border: 1px solid var(--neutral-600);
    border-radius: var(--radius-6);

    display: none;
}

.show-results {
    padding: 0 var(--spacing-200);
}

.show-result-divs {
    width: auto;
    height: 130px;

    border-radius: var(--radius-12);
    padding: var(--spacing-250);

    position: relative;
    overflow: hidden;
}

.number-show-results {
    display: block;
    font: var(--text-preset-1-mobile);
    letter-spacing: var(--text-preset-1-mobile-letter-spacing);
    color: var(--neutral-900);

    margin-bottom: var(--spacing-100);
}

.bg-img-show-results-divs {
    position: absolute;

    right: 0;
    top: 0;
}

.text-show-results {
    font: var(--text-preset-3);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: var(--neutral-900);
}

.total-chars {
    background: var(--purple-500);
}

.word-count {
    background-color: var(--yellow-500);
    margin: var(--spacing-200) 0;
}

.sentence-count {
    background-color: var(--orange-500);
}

.letter-density {
    margin-top: var(--spacing-300);
}

.letter-title {
    font: var(--text-preset-2);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--text-primary-color-dark);

    margin-bottom: var(--spacing-250);
}

.list-container {
    height: 21px;

    margin-bottom: 12px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letter-label {
    font: var(--text-preset-4);
    letter-spacing: var(--text-preset-4-letter-spacing);
    color: var(--text-primary-color-dark);
    width: var(--spacing-200);
}

.progress-bar {
    height: var(--spacing-150);
    width: 100%;
    margin: 0 14px;
}

.track-bar {
    background: var(--neutral-800);
    width: 100%;
    height: 100%;
    border-radius: 999px;
}

.fill-bar {
    background: var(--purple-500);
    /* width: 30%; */
    height: 100%;
    border-radius: 999px;
}

.percentage {
    font: var(--text-preset-4);
    letter-spacing: var(--text-preset-4-letter-spacing);
    color: var(--text-primary-color-dark);

    max-width: 87px;
    width: 100%;
}

.toggle-btn {
    font: var(--text-preset-3);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: var(--text-primary-color-dark);

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 32px;
}

.arrow {
    display: inline-block;
    width: 8px;
    height: 8px;

    border-right: 2px solid var(--text-primary-color-dark);
    border-bottom: 2px solid var(--text-primary-color-dark);

    transform: rotate(45deg);
}

.arrow.open {
    transform: rotate(-135deg); 
}

.extra-content {
    display: none;
}

/* Theme Switch */
.bg-light {
    background: var(--bg-primary-color-light);
}

.header-btn-light {
    background: var(--neutral-100);
}

.bg-text-area-color {
    background: var(--bg-secondary-color-light) !important;
}

.text-color {
    color: var(--text-primary-color-light) !important; /* I needed to add !important here because #text-area-style wasn't changing the color */
}

.checkBox-light {
    border: 1px solid var(--neutral-900) !important;
}

/* Error Statement */

.error {
    border: 2px solid var(--orange-500);
    box-shadow: 0 0 8px var(--orange-500);
    outline: none;
}

.error-text {
    font: var(--text-preset-4);
    letter-spacing: var(--text-preset-4-letter-spacing);
    color: var(--orange-500);

    display: none; /* To push the element to bottom (margin-bottom)*/
    margin-bottom: var(--spacing-200);
}

.error-text img {
    margin-right: 5px;
}

/* Hidden & Block Classes */
.hidden {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}
